<div class="container-fluid" style="margin-top: 8em;">
	<div class="row">
		<div class="col-md-1 col-sm-1 col-xs-1">
		</div>

		<div class="col-md-10 col-sm-10 col-xs-10">
			<div *ngIf="!series">
				Cargando listado de cuadros
			</div>

			<div *ngIf="series" style="font-size: 1.6em; line-height: 1.5em;">
				<ul>
					<li *ngFor="let serie of series">
						<div class="container-fluid">
							<div class="row" *ngIf="!idSerie || serie.idSerie != idSerie">
								<div class="col-md-7 col-sm-7 col-xs-7">
									<strong>{{serie.title}}</strong>
								</div>

								<div class="col-md-5 col-sm-5 col-xs-5">
									<i (click)="onSelectIdSerie(serie.idSerie)" class="fa fa-pencil-square-o" aria-hidden="true" style="margin-left: 1em; color:#012e67; cursor:pointer;"></i>

									<i (click)="onDeleteSerie(serie.idSerie)" class="fa fa-trash" aria-hidden="true" style="margin-left: 0.2em; color:#012e67; cursor:pointer;"></i>

									<i *ngIf="serie.order == 0" (click)="onOrderSerieUp(serie)" class="fa fa-arrow-up"  aria-hidden="true" style="margin-left: 0.2em; visibility: hidden; color:#012e67; cursor:pointer;"></i>

									<i *ngIf="serie.order != 0" (click)="onOrderSerieUp(serie)" class="fa fa-arrow-up" aria-hidden="true" style="margin-left: 0.2em; color:#012e67; cursor:pointer;"></i>

									<i *ngIf="serie.order != series.length - 1" (click)="onOrderSerieDown(serie)" class="fa fa-arrow-down" aria-hidden="true" style="margin-left: 0.2em; color:#012e67; cursor:pointer;"></i>
								</div>
							</div>
							

							<div class="row" *ngIf="idSerie && serie.idSerie == idSerie">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<form #formEditSerie="ngForm" id="form-editSerie">
										<div class="container-fluid">
											<div class="row">
												
												<div class="col-md-7 col-sm-7 col-xs-7">
									
													<div class="form-group">
														<input type="text" id="title" name="title" #title="ngModel" [(ngModel)]="serieEdition['title']" placeholder="Name serie" required>
													</div>
												
												</div>

												<div class="col-md-5 col-sm-5 col-xs-5">
													<div class="form-group"> <!-- Create Button -->
														<i (click)="onSaveIdSerie()" class="fa fa-save" aria-hidden="true" style="margin-left: 1em; color:#012e67; cursor:pointer;"></i>



														<i (click)="onUnSelectIdSerie()" class="fa fa-times-circle" aria-hidden="true" style="margin-left: 0.2em; color:#012e67; cursor:pointer;"></i>

														<i *ngIf="serie.order == 0" (click)="onOrderSerieUp(serieEdition)" class="fa fa-arrow-up" aria-hidden="true" style="margin-left: 0.2em; visibility: hidden; color:#012e67; cursor:pointer;"></i>

														<i *ngIf="serie.order != 0" (click)="onOrderSerieUp(serieEdition)" class="fa fa-arrow-up" aria-hidden="true" style="margin-left: 0.2em; color:#012e67; cursor:pointer;"></i>

														<i *ngIf="serie.order != series.length - 1" (click)="onOrderSerieDown(serieEdition)" class="fa fa-arrow-down" aria-hidden="true" style="margin-left: 0.2em; color:#012e67; cursor:pointer;"></i>

													</div>
													
													
												</div>
												


											</div>
										</div>
									</form>
									
								</div>
								
							</div>
							
						</div>
							
					</li>
				</ul>
			</div>
		</div>

		<div class="col-md-1 col-sm-1 col-xs-1">
		</div>
	</div>
</div>








<!--
<form class="col-lg-8" id="form-painting" style="margin-top: 60px;">

	<div class="form-group">
		<label for="technique" class="control-label">Texto</label>
		<input type="text" class="form-control" id="technique" name="technique" placeholder="Mi texto">
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary">Visita mi sitio</button>
	</div>
</form>
-->