<div class="container-fluid" style="margin-top: 5em;" *ngIf="notifications">
	<div class="row">
		<div class="col-md-1 col-sm-1 col-xs-1">
		</div>

		<div class="col-md-11 col-sm-11 col-xs-11">
			<div id="myNotifications">
				<div *ngIf="!notifications">
					Cargando listado de notificaciones
				</div>

				<div class="titleNotifications">
					Scheduled notifications
				</div>

				<div class="container-fluid notificationsStyle" *ngIf="notifications">
					<div *ngFor="let notification of notifications">
						<div class="row rowNotificationsStyle">
							<div class="col-md-3 col-sm-3 col-xs-3">
								{{notificationTypes.get(notification['type'])}}
							</div>

							<div class="col-md-2 col-sm-2 col-xs-2" *ngIf="notification['type']==4">
								{{eventTypes0[notification.eventType]['description']}}
							</div>
							<div class="col-md-2 col-sm-2 col-xs-2" *ngIf="notification['type']==1">
								{{eventTypes1[notification.eventType]['description']}}
							</div>

							<div class="col-md-3 col-sm-3 col-xs-3">
								<div class="miTooltip">{{notification.localization}}
									<span *ngIf="notification['type']==4" class="tooltiptext">{{notification.title}}</span>
									<span *ngIf="notification['type']==1" class="tooltiptext">
										<a class="linkStyle" href="{{notification.link}}" target="_blank">{{notification.link}}</a>
									</span>
								</div>
							</div>

							<div class="col-md-3 col-sm-3 col-xs-3">
								{{notification.deliveryDate | date:"MM/dd/yyyy 'at' h:mma"}}
							</div>

							<div class="col-md-1 col-sm-1 col-xs-1">
								<i (click)="onSelectIdNotification(notification.idNotification)" class="fa fa-pencil-square-o" style="font-size: 1.2em; color:#012e67;"></i>
								<i (click)="onPreviewSelectedIdNotification(notification.idNotification)" class="fa fa-image" style="font-size: 1.2em; color:#012e67;"></i>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>






