<div class="container-fluid" style="position: relative; top: 8em">
	<div class="row">
		<div class="col-md-1 col-sm-1 col-xs-1">
		</div>

		<div class="col-md-10 col-sm-10 col-xs-10">
			<div class="center">
				<div class="center" style="font-size: 1.6em; font-family: 'roboto-light', sans-serif; margin-top: 2em;">
					A SPLENDOUR AMONG SHADOWS
				</div>

				<div class="center" style="margin-top: 3em; font-weight: bold; color:#012e67;">
					RICHARD STONE AND LORENA GARCÍA MATEU
				</div>

				<div class="center">
					LONDON
				</div>

				<div class="center">
					26 AUGUST - 19 SEPTEMBER 2020
				</div>

				<div class="center" style="margin-top: 0.5em; font-family: 'roboto-bold', sans-serif; font-weight: bold;">
					Private View: Tuesday 25 August,  6.30-9pm
				</div>

				<div class="center" style="margin-top: 2em; font-family: 'roboto-bold', sans-serif; font-weight: bold;">
					London (LONDON BRIDGE)
				</div>

				<div class="center" style="margin-top: 1em; font-family: 'roboto-bold', sans-serif; font-size: 1.2em;">
					<a href="https://kristinhjellegjerde.com/" target="_blank" class="galleryLink">https://kristinhjellegjerde.com</a>
				</div>

				<div class="center" style="margin-top: 2em; margin-bottom: 2em;">
					<img src="..\..\assets\images\embrance_retocado.jpg" width="20%;" />
				</div>
				
			</div>
		</div>

		<div class="col-md-1 col-sm-1 col-xs-1">
		</div>

	</div>
</div>


