.text_format{
	margin-bottom: 4%;
	font-size: 1.1em;
}

.input_format {
	padding-top: 1.2em;
	padding-bottom: 1.2em;
}

.btn_format {
	padding-left: 5em;
	padding-right: 5em;
}

.reset_padding {
	padding: 0px;
}

.symbol_format {
	font-size: 2em;
	color: #012e67;
	padding:0.3em;
	border: 0.1em solid #012e67;
	margin-right: 1%;
}

.galleryLight {
	margin-top: 0.7em;
	font-family: 'roboto-light', sans-serif;
}

.galleryName {
	font-size: 1.3em;
	font-family: 'roboto-bold', sans-serif;
}

.galleryLink {
	color:#012e67;
}

.galleryLink:hover {
	color:#aaa;
}

.galleryLink:active {
	color:#012e67;
}