<div class="container-fluid" style="position: relative; top: 60px">
	<div class="row">
		<div class="col-md-2 col-sm-2 col-xs-2">
		</div>

		<div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center;">
			<img src="..\..\assets\images\IMG_20180602_191434.jpg" width="80%;"  />
		</div>

		<div class="col-md-5 col-sm-5 col-xs-5" style="margin-bottom: 4%; margin-top: 1%; font-size: 15px;">
			<div>
				Please email me at <u><a href="#">studio@lorenagarciamateu.es</a></u> with questions or comments
			</div>

			<div style="margin-top: 4%">
				Join my mailing list if you want to receive news
			</div>

			<div style="margin-top: 2%">
				<form #formUser="ngForm" (ngSubmit)="onSubmit()" id="form-user">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-9 col-sm-9 col-xs-9" style="padding: 0px;" >
								<div class="form-group"> <!-- nameUser -->
									<input type="text" id="nameUser" name="nameUser" #nameUser="ngModel" [(ngModel)]="user['nameUser']" placeholder="Name" style="padding-top: 14px; padding-bottom: 12px;" required>
								</div>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-3">
							</div>


							<div class="col-md-9 col-sm-9 col-xs-9" style="padding: 0px;" >
								<div class="form-group"> <!-- Email -->
									<input type="text" id="email" name="email" #email="ngModel" [(ngModel)]="user['email']" placeholder="Email Address" style="padding-top: 14px; padding-bottom: 12px;" required>
								</div>
							</div>

							<div class="col-md-3 col-sm-3 col-xs-3">
								<div class="form-group"> <!-- Create Button -->
									<button type="submit" class="btn btn-default" style="padding-top: 14px; padding-bottom: 12px; padding-left: 45%; padding-right: 45%;" [disabled]="!formUser.valid">Subscribe</button>
								</div>
							</div>
							
						</div>
						
						
					</div>
				</form>
			</div>

			<div style="margin-top: 20%;">
				<a href="https://www.facebook.com/lorenagarciamateu/" target="_blank"><i class="fa fa-facebook-f" style="font-size: 24px; color: black; padding:8px; border: 2px solid black; margin-right: 1%;"></i>
				</a>

				<a href="https://www.youtube.com/watch?v=TfoFRqixf5I" target="_blank"><i class="fa fa-youtube-play" style="font-size: 24px; color: black; padding:8px; border: 2px solid black; margin-right: 1%;"></i>
				</a>

				<a href="https://www.instagram.com/lorena_garciamateu/" target="_blank"><i class="fa fa-instagram" style="font-size: 24px; color: black; padding:8px; border: 2px solid black;"></i>
				</a>

			</div>
			
		</div>


		<div class="col-md-1 col-sm-1 col-xs-1">
		</div>
	</div>
</div>