<div class="container-fluid" style="margin-top: 100px;">
	<div class="row">
		<div class="col-lg-4">

			<app-notification-fixed (selectTypeNotification)="processSelectedTypeNotification($event)"></app-notification-fixed>

			<app-notification-sent-list style="display: none;"></app-notification-sent-list>

			<app-notification-scheduled-list (selectIdNotification)="processSelectedIdNotification($event)"></app-notification-scheduled-list>

		</div>

		<div class="col-lg-8">

			<app-notification-create [typeNotification]="selectedTypeNotification" [idNotification]="selectedIdNotification"></app-notification-create>

		</div>
	</div>
</div>




