<div class="container-fluid" style="position: relative; top: 8em">
	<div class="row">
		<div class="col-md-2 col-sm-1 col-xs-1">
		</div>


		<div class="col-md-6 col-sm-10 col-xs-10">
			<div class="center">
				<div class="center text_blue text_title" style="text-justify: none; text-decoration: underline;">
					Splendour among Shadows
				</div>

				<div class="center text_blue">
					Statuesque horses appear half hidden in thick swathes of colourful fabric while
					canvases of painted hands reach through backgrounds of vibrant flora. Bringing
					together the sculptural work of London-based artist Richard Stone and Spanish
					artist Lorena García Mateu’s paintings, Kristin Hjellegjerde Gallery presents A
					Splendour Among Shadows, a timely exploration of sensuality and artistic
					representation.
				</div>
				<div class="center text_blue">
					The exhibition’s title, borrowed from Percy Bysshe Shelley’s sonnet Lift not the
					painted veil…, makes reference to the romanticism of both artists' work and their
					intertextual inspirations as well as the more abstract concept of life emerging
					from darkness. For both artists here, splendour is tied up with materiality and
					perspective. ‘I really think there is a sensuality to the world that we live in, but
					that we have moved incredibly far from it,’ comments Stone. ‘Materiality through
					sculpture has become a medium for me to reconnect with that sensuality. There
					is a conscious countering with my approach to fluidity and movement that
					resists what we often create for ourselves through the flatness of our phone
					screens. As much as these screens open space out and connect us, they also
					simultaneously close it and isolate us.’
				</div>

				<div class="center text_color2">
					As such, Stone’s works are highly expressive, employing dualities - such as movement
					and stillness, surrender and resistance, tradition and modernity - to create a palpable
					sense of tension and dynamism. This is perhaps most keenly expressed in only from
					the ruins will you be free, the next evolution of the artist’s ongoing marble flag series.
					Through material transformation and the appearance of time suspended, Stone
					transcends the nationalistic associations of a flag, allowing us to contemplate the object
					anew. Similarly, the artist disrupts the traditional symbolism of a horse. In contrast to
					historic representations of heroism and masculinity, Stone’s brass and porcelain horses
					are softened and partially concealed by abstracted fabric rendered from clay. The
					illusion of movement combined with a careful use of colour creates narrative intrigue
					and a haunting sense of fragility that also reveals the artist’s critical engagement with
					his medium. ‘Historically, sculpture attempted to enshrine heroic icons of power and
					conquest in permanence. Yet, as history has shown, that which is believed permanent,
					becomes questionable or eventually falls into ruin,’ says Stone.
				</div>

				<div class="center text_blue">
					In some paintings, García Mateu provides visual clues, such as arms and
					glimpses of clothing. The Hidden (inspired by Johaan Friedrich Overbeck’s Italy
					and German (Sulamita and Maria)), for example, depicts a moment of intimacy or
					perhaps, condolence as one person’s hands clasps another hand into their lap.
					The atmosphere of sensuality and warmth is further emphasised through the
					soft, curved lines of leaves and the harmonious balance of colours. In this way,
					‘the interpretation of the works is focused toward a more poetic, mysterious and
					spiritual sense,’ says García Mateu, registering another commonality between
					her and Stone’s practices as both artists reach towards transcendence.
				</div>

				<div class="center text_blue">
					Through their complex and rich materialities both these sculptural and painted
					artworks, invite the viewer to engage in a deeply felt sense of the world that
					celebrates movement, individuality, texture, ambiguity and romance.
				</div>

				

				<div class="right text_name">
					<a href="https://kristinhjellegjerde.com/exhibitions/182/overview/" target="_blank" class="galleryLink">https://kristinhjellegjerde.com/exhibitions/182/overview/</a>
				</div>

				<div class="right text_otros">
					2020, August
				</div>
				
			</div>
		</div>

		<div class="col-md-4 col-sm-1 col-xs-1">
		</div>





		<div class="col-md-2 col-sm-1 col-xs-1">
		</div>

	
		<div class="col-md-6 col-sm-9 col-xs-9" style="margin-top: 4em;">
			<div class="center">
				<div class="center text_blue text_title" style="text-decoration: underline;">
					Liberarte
				</div>

				<div class="center text_blue">
					La sensualidad en su interpretación de la naturaleza es evidente, con sus formas
					contoneadas y acariciadas sutilmente, el manejo del color, perfectamente
					estudiado en cada cuadro, predominando los tonos azulados sobre otros y el cómo
					introduce, en algunos, elementos humanos mortecinos e inquietantes que salen de
					la nada y que perturban la psique, pero al final sin saber cómo concluimos en una
					visión placentera al observar las obras. La visión de esta artista es sin duda
					particular, magnifica la naturaleza a la que da un carácter, incluso, abstracto y
					simbólico y con algún punto que recuerda al ecofeminismo, que hace descansar el
					respeto de la naturaleza en lo femenino. Sus cuadros destilan el eterno femenino
					como concepto inmutable a través de códigos poco convencionales, que nos
					convencen y nos hacen desear ver estas obras al natural.
				</div>

				<div class="right text_name">
					Marta Torres Vázquez
				</div>

				<div class="right text_otros" style="margin-bottom: 1.5em;">
					10 de julio de 2020
				</div>
				
			</div>
		</div>

		<div class="col-md-4 col-sm-1 col-xs-1">
		</div>

	</div>
</div>