<div id="myPaintings" class="container-fluid" style="position: relative; top: 8em">
	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-4">
		</div>

		<!--<div class="col-md-5 col-sm-5 col-xs-5">
			La sensualidad en su interpretación de la naturaleza es evidente, con sus formas
contoneadas y acariciadas sutilmente, el manejo del color, perfectamente
estudiado en cada cuadro, predominando los tonos azulados sobre otros y el cómo
introduce, en algunos, elementos humanos mortecinos e inquietantes que salen de
la nada y que perturban la psique, pero al final sin saber cómo concluimos en una
visión placentera al observar las obras. La visión de esta artista es sin duda
particular, magnifica la naturaleza a la que da un carácter, incluso, abstracto y
simbólico y con algún punto que recuerda al ecofeminismo, que hace descansar el
respeto de la naturaleza en lo femenino. Sus cuadros destilan el eterno femenino
como concepto inmutable a través de códigos poco convencionales, que nos
convencen y nos hacen desear ver estas obras al natural.

Marta Torres Vázquez
Liberarte
10 de julio de 2020
		</div>

		<div class="col-md-5 col-sm-5 col-xs-5">
			La sensualidad en su interpretación de la naturaleza es evidente, con sus formas
contoneadas y acariciadas sutilmente, el manejo del color, perfectamente
estudiado en cada cuadro, predominando los tonos azulados sobre otros y el cómo
introduce, en algunos, elementos humanos mortecinos e inquietantes que salen de
la nada y que perturban la psique, pero al final sin saber cómo concluimos en una
visión placentera al observar las obras. La visión de esta artista es sin duda
particular, magnifica la naturaleza a la que da un carácter, incluso, abstracto y
simbólico y con algún punto que recuerda al ecofeminismo, que hace descansar el
respeto de la naturaleza en lo femenino. Sus cuadros destilan el eterno femenino
como concepto inmutable a través de códigos poco convencionales, que nos
convencen y nos hacen desear ver estas obras al natural.

Marta Torres Vázquez
Liberarte
10 de julio de 2020
		</div>-->


		<div class="col-md-4 col-sm-4 col-xs-4">
			<div class="center">
				<div class="center text_color">
					La sensualidad en su interpretación de la naturaleza es evidente, con sus formas
					contoneadas y acariciadas sutilmente, el manejo del color, perfectamente
					estudiado en cada cuadro, predominando los tonos azulados sobre otros y el cómo
					introduce, en algunos, elementos humanos mortecinos e inquietantes que salen de
					la nada y que perturban la psique, pero al final sin saber cómo concluimos en una
					visión placentera al observar las obras. La visión de esta artista es sin duda
					particular, magnifica la naturaleza a la que da un carácter, incluso, abstracto y
					simbólico y con algún punto que recuerda al ecofeminismo, que hace descansar el
					respeto de la naturaleza en lo femenino. Sus cuadros destilan el eterno femenino
					como concepto inmutable a través de códigos poco convencionales, que nos
					convencen y nos hacen desear ver estas obras al natural.
				</div>

				<div class="right text_name">
					Marta Torres Vázquez
				</div>

				<div class="right text_otros">
					Liberarte
				</div>

				<div class="right text_otros">
					10 de julio de 2020
				</div>
				
			</div>
		</div>

		<div class="col-md-4 col-sm-4 col-xs-4">
		</div>

	</div>
</div>