.center {
  text-align: justify;
  text-justify: inter-word;
  line-height : 2em;
}


.text_color {
	font-size: 1.6em; 
	font-family: 'roboto-light', sans-serif;
	margin-top: 4em;
}

.text_name {
	margin-top: 3em; 
	font-weight: bold; 
	color:#012e67;
	font-size: 1.5em;
}

.text_otros {
	font-size: 1.2em; 
	font-family: 'roboto-light', sans-serif;
}

.text_blue {
	font-size: 1.6em; 
	font-family: 'roboto-light', sans-serif;
	margin-top: 1.7em;
	color:#012e67;
}

.text_title {
	font-size: 2.6em;
	font-family: 'roboto-medium', sans-serif;
}

.text_color2 {
	font-size: 1.6em; 
	font-family: 'roboto-light', sans-serif;
	margin-top: 1.7em;
}

.galleryLink {
	color:#012e67;
}

.galleryLink:hover {
	color:#aaa;
}

.galleryLink:active {
	color:#012e67;
}

