<div class="container-fluid" *ngIf="notificationsSent">
	<div class="row">
		<div class="col-md-1 col-sm-1 col-xs-1">
		</div>

		<div class="col-md-11 col-sm-11 col-xs-11">
			<div id="myNotificationsSent">
				<div *ngIf="!notificationsSent">
					Cargando listado de notificaciones enviadas
				</div>

				<div class="titleNotifications">
					Last notifications
				</div>

				<div class="container-fluid notificationsStyle">
					<div *ngFor="let notificationSent of notificationsSent">
						<div class="row rowNotificationsStyle">
							<div class="col-md-3 col-sm-3 col-xs-3">
								{{notificationTypes[notificationSent.type]['description']}}
							</div>

							<div class="col-md-2 col-sm-2 col-xs-2" *ngIf="notificationSent['type']==0">
								{{eventTypes0[notificationSent.eventType]['description']}}
							</div>
							<div class="col-md-2 col-sm-2 col-xs-2" *ngIf="notificationSent['type']==1">
								{{eventTypes1[notificationSent.eventType]['description']}}
							</div>

							<div class="col-md-4 col-sm-4 col-xs-4">
								<div class="miTooltip">{{notificationSent.localization}}
									<span *ngIf="notificationSent['type']==0" class="tooltiptext">{{notificationSent.title}}</span>
									<span *ngIf="notificationSent['type']==1" class="tooltiptext">
										<a class="linkStyle" href="{{notificationSent.link}}" target="_blank">{{notificationSent.link}}</a>
									</span>
								</div>
							</div>



							<div class="col-md-3 col-sm-3 col-xs-3">
								{{notificationSent.deliveryDate | date:"MM/dd/yyyy 'at' h:mma"}}
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		

	</div>
</div>



