<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@1.6.10/dist/css/lg-transitions.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@1.6.10/dist/css/lightgallery.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">



<div *ngIf="paintings && serie">
    <div class="container-fluid" style="position: relative; top: 7em">
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1">
            </div>

            <div class="col-md-10 col-sm-10 col-xs-10">
                <div class="header_painting">
                    {{serie['title']}}
                </div>

                <div id="relative-caption">
                    <div id="lightgallery">
                        <a *ngFor="let painting of paintings;" href="{{baseUri}}/images/{{painting['image']}}" data-sub-html=".caption" data-html=".caption">
                            
                            <img [ngClass]="setPaintingClasses(painting)" src="{{baseUri}}/images/{{painting['image']}}" />
                            
                            {{onClickImage()}}

                            <div class="caption" style="display: none;">
                                <h5 class="caption_painting" ><b>{{painting['title']}}</b> | {{painting['year']}} <br/> {{painting.height}}cm x {{painting['width']}}cm <br/> {{painting['technique']}} <br/> <span *ngIf="painting.available">Available</span></h5>
                            </div>

                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-1 col-sm-1 col-xs-1">
            </div>
        </div>
    </div>

</div>