
<div *ngIf="is_visible" class="container-fluid" style="margin-top: 50px;">
	<div class="row">
		
		<form #formPainting="ngForm" (ngSubmit)="onSubmit()" class="col-lg-8" id="form-painting">

			<div class="container">
				<div class="row">
					<div class="col-md-9 col-sm-9 col-xs-9">
						<div class="form-group"> <!-- Title -->
							<label for="title" class="control-label">Title</label>
							<input type="text" class="form-control" id="title" name="title" #title="ngModel" [(ngModel)]="painting['title']" placeholder="Mi cuadro">
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-3">
						<div class="form-group"> <!-- Year -->
							<label for="year" class="control-label">Year</label>
							<input type="text" class="form-control" id="year" name="year" #year="ngModel" [(ngModel)]="painting['year']" placeholder="2020">
						</div>
					</div>
					
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-3">
						<div class="form-group"> <!-- Height -->
							<label for="height" class="control-label">Height</label>
							<input type="text" class="form-control" id="height" name="height" #height="ngModel" [(ngModel)]="painting['height']" placeholder="110cm">
						</div>
					</div>

					<div class="col-md-3 col-sm-3 col-xs-3">
						<div class="form-group"> <!-- Width -->
							<label for="width" class="control-label">Width</label>
							<input type="text" class="form-control" id="width" name="width" #width="ngModel" [(ngModel)]="painting['width']" placeholder="150cm">
						</div>	
					</div>
				</div>
			</div>
			

			

				
									
			<div class="form-group"> <!-- Technique-->
				<label for="technique" class="control-label">Technique</label>
				<input type="text" class="form-control" id="technique" name="technique" #technique="ngModel" [(ngModel)]="painting['technique']" placeholder="Oleo">
			</div>


			<div class="form-group"> <!-- Available-->
				<div class="custom-control custom-checkbox"> 
			    	<input type="checkbox" class="custom-control-input" name="available" #available="ngModel" id="available" [(ngModel)]="painting['available']">
			    	<label class="custom-control-label" for="available">Available</label>
				</div>
			</div>
			

			<div class="form-group"> <!-- Image-->
				<label for="image" class="control-label">Image</label>
				<div *ngIf="is_edit">
					<img src="http://localhost:4000/images/{{painting['image']}}" width="60%;" />
				</div>
				<input type="file" class="form-control" id="image" name="image" placeholder="image001.jpeg" (change)="fileChangeEvent($event)">
			</div>
			
			
			<div class="form-group"> <!-- Create Button -->
				<button type="submit" class="btn btn-primary">{{nameButton}}</button>
			</div>
		</form>
		
	</div>
</div>