<div class="container-fluid" style="position: relative; top: 5em">
	<div class="row">
		<div class="col-md-1 col-sm-1 col-xs-1">
		</div>

		<div id="fotoLorena" class="col-md-3 col-sm-3 col-xs-3" style="text-align: center;">
			<img src="..\..\assets\images\lorenaContact.jpg" width="90%;"  />
		</div>

		<div id="textoPresentacion" class="col-md-7 col-sm-7 col-xs-7" >
			<div id="titulo_bio">
				About the Artist
			</div>
			<div id="texto" class="text_format">
				<p>
					Who I was as a child has shaped who I am as an artist today. Every painting and every idea encompasses nostalgia. All of my inspiration comes from those real world experiences and personal stories.
				</p>

				<p>
					Non-traditional portraits painted in traditional ways are my greatest passion.  I paint people in my life that I'm trying to make a connection with, telling a story that's personal and individual to each piece.  Each piece seeks to go beyond realism and capture the essence of the subject. With each painting, my goal is to create as much honesty about that individual, allowing to capture the spirit of the person I’m painting.
				</p>

				<p>
					I completed my master's from the Academy of Art University in May 2015 and am currently teaching adult in my studio as well as workshops all over the world.
				</p>

				<p style="margin-top: 7%;">
					For more information on purchasing or commissioning a painting, or to just say hello, feel free to get in touch.
				</p>

				
				<div>
					Valencia, Spain
				</div>
				<div>
					Telf: (+34) 630974316
				</div>
				<div>
					studio@lorenagarciamateu.es
				</div>
					
				

				<div id="subtitulo_bio">
					Education
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2009
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Degree in Theatre Space and Settings. Polytechnic University of Valencia, Spain
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2008
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								M.A. in Artistic Production. Polytechnic University of Valencia, Spain
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2006
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								B.A. in Fine Arts. San Carlos’ College. Valencia, Spain
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2005
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Erasmus Scholarship. University of Madeira, Portugal
							</div>
						</div>
					</div>
				</div>







				<div id="subtitulo_bio">
					Solo Exhibitions
				</div>

				<div class="container-fluid">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2018
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								La vida silenciosa. Movart. Art Gallery. Madrid, Spain
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2015
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Ahora, Nosotras II. M.AR.CA. León, Spain
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2014
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Onírica. ArtClub. Caro Hotel. Valencia, Spain
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2013
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Life in Motion. Las Naves Centro de Creación Contemporánea. Valencia, Spain
							</div>

							<div>
								Origen. L’Espai. Delegación de Cultura. Torrent, Spain
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2008
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Il Corpo Evocato. Studio Arte Fuori Centro. Roma, Italy
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2007
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Il Corpo Evocato. Accademia di Belle Arti. Maceratta, Italy
							</div>
						</div>
					</div>
				</div>





				<div id="subtitulo_bio">
					Selected Group Exhibitions
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2018
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Plex. Museo de Castellón. Spain *
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2017
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Summer of art. Galería Cuatro. Valencia. Spain
							</div>

							<div>
								Nuevos Nómadas II. Real Álcazar de Sevilla. Comisariado por Meca
							</div>

							<div>
								Nuevos Nómadas I. Museo de Almería. Comisariado por Meca
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2016
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Festival de les arts Ciutat Vella Oberta. Casa de Velázquez. Madrid. Spain.
							</div>

							<div>
								POLI_ZONTES. Contemporain landscapes. M.ARC.CA. León. Spain.*
							</div>

							<div>
								ANIMALAYA. M.AR.CA. León. Spain.* 
							</div>

							<div>
								Project IMAGO MUNDI, MADE IN SPAIN. Fundación Benetton & CAC de Málaga. Spain and International (itinerant).*
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2014
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Ars Visibilis III International Art Festival l Miradas de Mujeres. MECA. Almería, Spain* 
							</div>

							<div>
								Ahora, nosotras III International Art Festival Miradas de Mujeres. Museo de Cacabelos. León, Spain 
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2013
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Ars Visibilis. II Festival Miradas de Mujeres. Museo de Almería, Spain* 
							</div>

							<div>
								Ahora , nosotras. II Festival Miradas de Mujeres. Museo Arqueológico Cacabelos. León. Spain* 
							</div>

							<div>
								Overlapping Memories. Quart Jove, Valencia. Spain | Space. Pittsburgh, Pennsylvania. U.S.A.
							</div>

							<div>
								Arte Gira Moving. Centro del Mediterráneo de Almería. Almería, Spain* 
							</div>
						</div>
					</div>
				</div>


				<div id="subtitulo_bio">
					Awards
				</div>

				<div id="subtitulo_bio">
					Art Fairs
				</div>

				<div id="subtitulo_bio">
					Institutional/Artistic Support
				</div>

				<div id="subtitulo_bio">
					Publications
				</div>




				* On catalog


			</div>
		</div>

		<div class="col-md-1 col-sm-1 col-xs-1">
		</div>
	</div>
</div>
