<div class="container-fluid" style="position: relative; top: 8em">
	<div class="row">
		<div class="col-md-1 col-sm-1 col-xs-1">
		</div>

		<div id="fotoLorena" class="col-md-3 col-sm-3 col-xs-3" style="text-align: center;">
			<img src="..\..\assets\images\lorenaContact.jpg" width="90%;"  />
		</div>

		<div id="textoPresentacion" class="col-md-7 col-sm-7 col-xs-7" >
			<div id="titulo_bio">
				About the Artist
			</div>
			<div id="texto" class="text_format">
				<p>
					Lorena García Mateu (b. 1983) lives and works in Valencia, Spain. She graduated in
					2008 in Fine Art MA in Art Production from the Polytechnic University of Valencia,
					Spain. Lorena’s interests encompass figurative art and nature interpretation, often
					referring to Art History. Throughout her work — which embraces mainly oil painting —
					the artist explores the search of colour and its harmony, claiming to arouse
					atmospheres charged by mystery, movement and uncertainty.
				</p>

				<p>
					García Mateu has participated extensively in solo and group exhibitions across Spain
					and internationally. Her paintings have been selected also in a several national awards.
				</p>

				<p style="margin-top: 7%;">
					For more information on purchasing or commissioning a painting, or to just say hello, feel free to get in touch.
				</p>

				
				<div>
					Valencia, Spain.
				</div>
				<div>
					Telf: (+34) 630974316
				</div>
				<div>
					studio@lorenagarciamateu.es
				</div>
					
				

				<div id="subtitulo_bio">
					Education
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2009
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Degree in Theatre Space and Settings. Polytechnic University of Valencia, Spain.
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2008
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								M.A. in Artistic Production. Polytechnic University of Valencia, Spain.
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2006
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								B.A. in Fine Arts. San Carlos’ College. Valencia, Spain.
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2005
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Erasmus Scholarship. University of Madeira, Portugal.
							</div>
						</div>
					</div>
				</div>







				<div id="subtitulo_bio">
					Solo Exhibitions
				</div>

				<div class="container-fluid">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2020
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Life is the mystery. Artifact. New York, USA.*
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2018
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								La vida silenciosa. Movart. Art Gallery. Madrid, Spain.
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2015
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Ahora, Nosotras II. M.AR.CA. León, Spain.
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2014
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Onírica. ArtClub. Caro Hotel. Valencia, Spain.
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2013
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Life in Motion. Las Naves Centro de Creación Contemporánea. Valencia, Spain.
							</div>

							<div>
								Origen. L’Espai. Delegación de Cultura. Torrent, Spain.
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2008
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Il Corpo Evocato. Studio Arte Fuori Centro. Roma, Italy.
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2007
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Il Corpo Evocato. Accademia di Belle Arti. Maceratta, Italy.
							</div>
						</div>
					</div>
				</div>





				<div id="subtitulo_bio">
					Selected Group Exhibitions
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2020
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Arte Aparte XII. Sala La Carolina, Jaén, Spain.*
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2017
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Summer of art. Galería Cuatro. Valencia, Spain.
							</div>

							<div>
								Nuevos Nómadas II. Real Álcazar de Sevilla, Meca. Sevilla, Spain.
							</div>

							<div>
								Nuevos Nómadas I. Museo de Almería. Meca. Sevilla, Spain.
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2016
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Festival de les arts Ciutat Vella Oberta. Casa de Velázquez. Madrid, Spain.
							</div>

							<div>
								Polizontes. Contemporain landscapes. M.ARC.CA. León, Spain.*
							</div>

							<div>
								Project IMAGO MUNDI, MADE IN SPAIN. Fundación Benetton & CAC de Málaga. Spain and International (itinerant).*
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2014
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Ars Visibilis III International Art Festival l Miradas de Mujeres. Meca. Almería, Spain.* 
							</div>

							<div>
								Ahora, nosotras III International Art Festival Miradas de Mujeres. M.ARC.CA. León, Spain. 
							</div>
						</div>
					</div>
				</div>


				<div id="subtitulo_bio">
					Awards / Grants
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2009
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Antonio Gala Foundation‘s Artistic Scholarship. Córdoba, Spain.
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2007
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								1st Prize 2007 Artistic creation. University of Zaragoza, Spain. *
							</div>

							<div>
								Work selected for Artemisia II Edizione prize. Ancona, Italy. *
							</div>
						</div>
					</div>
				</div>


				<div id="subtitulo_bio">
					Art Fairs
				</div>

				<div class="container-fluid">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2020
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								The Palm Beach Show. Florida, Miami, USA.
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2018
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Affordable Art Fair. Hampstead, London, UK.
							</div>

							<div>
								Art Boca Raton. Florida, USA.
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2017
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								The new red dot. Miami, USA.
							</div>

							<div>
								Affordable Art Fair. Hampstead. London, UK.
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2015
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								The Other Art Fair. Victoria House. London, UK.
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2014
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								The Affordable Art Fair. Hampstead. London, UK.
							</div>

							<div>
								The Other Art Fair. Ambika P3, Marylebone. London, UK.
							</div>
						</div>
					</div>
				</div>


				<div id="subtitulo_bio">
					Institutional/Artistic Support
				</div>

				<div class="container-fluid">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2019
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Selected for 3th Rotary Club Valencia-Centro National Painting Award. Valencia, Spain.
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2018
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Selected for XXVII Autumn Awards 'Villa de Chiva'. Valencia, Spain.*
							</div>

							<div>
								Selected for XXVII Bienas Eusebio Sempere. Onil, Alicante, Spain.*
							</div>

							<div>
								Selected for II Competition Painting Rotary Club Valencia, Spain.
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2017
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Selected for the 58th "Salón de Otoño Ateneo Mercantil de Valencia". Spain.*
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2016
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Selected for the 57th "Salón de Otoño Ateneo Mercantil de Valencia". Spain.*
							</div>

							<div>
								Selected for the 39th National Competition Painting "Casimiro Sainz", Reinosa, Spain.
							</div>

							<div>
								Selected for the 21st National Competition Painting “Ciutat d’ Algemesí”, Spain.*
							</div>

							<div>
								Selected for the 20th National Competition Painting Castellón, Spain.*
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2015
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Selected for the 56th “Salón de Otoño Ateneo Mercantil de Valencia”, Spain.*
							</div>

							<div>
								Selected for the 19th Competition painting “Enrique Lite. Premios culturales 2015”. La Laguna Univeristy, Tenerife, Spain.*
							</div>

							<div>
								Selected for 5th Salón de las vanidades. El Carpio. Córdoba, Spain.*
							</div>

							<div>
								Festival de les Arts Ciutat Vella Oberta. Valencia, Spain.
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2014
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Selected for the 19th Annual competition “Ciudad de Algemesí”, Spain.*
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2013
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Selected for the VI International Art Festival Incubarte. Valencia, Spain.*
							</div>

							<div>
								70th Annual Competition 2013 Work selected and National Art Exhibition "José Camarón", Segovia, Spain.*
							</div>
						</div>
					</div>
				</div>

								

				<div class="container-fluid space_line">
					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1 reset_padding">
							2006
						</div>

						<div class="col-md-11 col-sm-11 col-xs-11 reset_padding">
							<div>
								Work selected for Painting Contest IV Fund. U. P. V. Valencia, Spain.*
							</div>

							<div>
								Work selected for the 7th Manolo Valdés Collection Art Contest. Castellón, Spain.*
							</div>
						</div>
					</div>
				</div>




				<!--<div id="subtitulo_bio">
					Publications
				</div>-->

				<br/>



				* On catalog

				<br/>
				<br/>


			</div>
		</div>

		<div class="col-md-1 col-sm-1 col-xs-1">
		</div>
	</div>
</div>
