#titulo_bio {
	margin-bottom: 4%;
	margin-top: 1%;
	font-size: 2.4em;
	color: #012e67;	/*prefiero gris*/
}

.text_format {
	font-size: 1.1em;
}

#subtitulo_bio {
	margin-bottom: 1.5%;
	margin-top: 5%;
	font-size: 1.6em;
	color: #012e67;
}

.space_line {
	margin-top: 0.6%;
}

.reset_padding {
	padding: 0px;
}