<div class="container-fluid">
	<div class="row">

		<div class="col-md-1 col-sm-1 col-xs-1">
		</div>

		<div class="col-md-10 col-sm-10 col-xs-10">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<i (click)="onSelectTypeNotification(2)" class="fa fa-pencil-square-o" aria-hidden="true" style="margin-left: 1em; font-size: 3em; color:#012e67; cursor:pointer;"></i>
						<i (click)="onPreviewSelectedTypeNotification(2)" class="fa fa-image" style="margin-left: 0.2em; font-size: 3em; color:#012e67; cursor:pointer;"></i>
						<span style="margin-left: 0.2em;">Subscription</span>
					</div>


					<div class="col-md-12 col-sm-12 col-xs-12">
						<i (click)="onSelectTypeNotification(3)" class="fa fa-pencil-square-o" aria-hidden="true" style="margin-left: 1em; font-size: 3em; color:#012e67; cursor:pointer;"></i>
						<i (click)="onPreviewSelectedTypeNotification(3)" class="fa fa-image" style="margin-left: 0.2em; font-size: 3em; color:#012e67; cursor:pointer;"></i>
						<span style="margin-left: 0.2em;">Contact with clients</span>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-1 col-sm-1 col-xs-1">
		</div>

		

		

	</div>
</div>



