

<div class="container-fluid" style="margin-top: 50px;">
	<div class="row">
		
		<form #formSerie="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12" id="form-serie">
			<div class="form-group"> <!-- Serie -->
				<label for="serie" class="control-label">Serie</label>
				<input type="text" class="form-control" id="serie" name="serie" #title="ngModel" [(ngModel)]="serie['title']" placeholder="Name serie">
			</div>

			<div class="form-group"> <!-- Create Button -->
				<button type="submit" class="btn btn-sm btn-primary">Create</button>
			</div>
		</form>


	</div>
</div>