/*-----------------------------------------------------------------------------------*/
/*	GENERAL STYLING
/*-----------------------------------------------------------------------------------*/
body {
	overflow-x:hidden;
	position:relative;
	margin: 0;
	padding:0;
	font-family: 'roboto-medium', sans-serif;
	font-size: 0.8em;
	line-height: 1.5em;
	color: #666;
	background-color:#fff;
}
#page {overflow-x:hidden; position:relative; z-index:5;}

img {
	outline:0;
	vertical-align:top;
	border:0;
	max-width:100%;
	height:auto;
}



/*-----------------------------------------------------------------------------------*/
/*	TYPOGRAPHY
/*-----------------------------------------------------------------------------------*/
hr {border-color:#ededed;}

ul, ol {padding:0; margin:0;}
li {padding:0; margin:0; list-style:none;}

p {margin:0 0 20px;}


h1, h2, h3, h4, h5, h6 {
	margin-top:0;
	font-family: 'Lato', sans-serif;
	text-transform:none;
	font-weight:300;
	color:#012e67;
}
h1 {margin:0 0 26px; line-height:46px; font-size:46px;}
h2 {margin:0 0 -30px; line-height:120px; font-size:30px;}
h2 b {font-weight:300;}
h3 {margin:0 0 21px; line-height:25px; font-size:22px;}
h3 b {font-weight:900;}
h4 {margin:0 0 34px; line-height:25px; font-size:20px;}
h4 b {font-weight:500;}
h5 {margin:0 0 15px; line-height:20px; font-size:15px;}
h6 {margin:0 0 15px; line-height:20px; font-size:12px;}

.center {text-align:center;}
.right {text-align:right;}

.color_text {color:#30a67c;}
.color_bg {background:#30a67c;}



/*-----------------------------------------------------------------------------------*/
/*	SHORTCODES
/*-----------------------------------------------------------------------------------*/
/* __________ Buttons __________ */
.btn {
	margin: 0;
	border:2px solid #ccc;
	border-radius: 0;
	box-shadow: none;
	text-transform:uppercase;
	font-weight: 900;
	line-height: 1.5em;
	font-size: 0.9em;
	color:#999;
	text-shadow: none;
	background-image: none !important;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.btn:focus, .btn:hover {color:#012e67; border-color:#012e67;}

.btn-active {background-color:#1c1c1c; color:#012e67; border-color:#012e67;}
.btn-active:hover {color:#fff;}


.btn-lg {padding:19px 30px; font-size:18px;}
.btn-sm {padding: 6px 20px 5px; font-size:13px;}
.btn-xs {padding: 2px 15px 3px; font-size:11px;}

.btn-md {padding: 0.5em 3em 0.5em; font-size:1.1em;}

.btn_shortcodes .btn {margin:0 7px 10px 0;}
.btn_shortcodes .btn:last-child {margin-right:0;}


.ie .btn, .ie .btn-default {filter:none !important;}




/*-----------------------------------------------------------------------------------*/
/*	CONTACT FORM
/*-----------------------------------------------------------------------------------*/
/* __________ Contact Form __________ */
textarea,
input[type="text"], input[type="password"] {
	width:100%;
	margin:0 0 0.7em;
	padding: 10px 8px;
	text-transform:none;
	font-family: 'roboto-light', sans-serif;
	line-height: 1.5em;
	font-size: 0.9em;
	color: #333;
	font-style:normal;
	border-radius: 0;	
	background: none;
	border: 2px solid #242424;
	box-shadow: none;
	transition: border-color 0.3s ease-in-out; 
	-webkit-transition: border-color 0.3s ease-in-out;
}

input[type="file"] {
	width:100%;
	padding-bottom: 2.2em;
	text-transform:none;
	font-family: 'roboto-light', sans-serif;
	line-height: 1.4em;
	font-size: 1.1em;
	color: #333;
	font-style:normal;
	border-radius: 0;	
	background: none;
	border: 2px solid #242424;
	box-shadow: none;
	transition: border-color 0.3s ease-in-out; 
	-webkit-transition: border-color 0.3s ease-in-out;
}

input[type="datetime-local"] {
	width:100%;
	margin:0 0 0.7em;
	padding: 10px 8px;
	text-transform:none;
	font-family: 'roboto-light', sans-serif;
	line-height: 1.5em;
	font-size: 1.1em;
	color: #333;
	font-style:normal;
	border-radius: 0;	
	background: none;
	border: 2px solid #242424;
	box-shadow: none;
	transition: border-color 0.3s ease-in-out; 
	-webkit-transition: border-color 0.3s ease-in-out;
}


.scheduledMargin {
	padding-left: 0;
}



.pruSelect {
	width:100%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-transform:none;
	font-family: 'roboto-medium', sans-serif;
	font-size: 1.1em;
	color: #333;
	font-style:normal;
	border-radius: 0;	
	background: none;
	border: 2px solid #242424;
	box-shadow: none;
	transition: border-color 0.3s ease-in-out; 
	-webkit-transition: border-color 0.3s ease-in-out;
	height: 2.8em;
}


.select_box{
  width: 100%;
  overflow: hidden;
  border: 2px solid #242424;
  position: relative;
  padding: 3px 0;
}
.select_box:after{
  width: 0; 
  height: 0; 
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-top: 0.7em solid #012e67;
  position: absolute;
  top: 45%;
  right: 10px;
  content: "";
  z-index: 98;
 }
.select_box select {
  /*width: calc(100% + 3em);*/
  width: calc(100% + 0.8em);
  border: 0;
  position: relative;
  z-index: 99;
  background: none;
  padding: 0.375rem 0.75rem;
}

.select_box .select-selected {
  margin-top: -0.2em;
  margin-bottom: -0.2em;
}


.select_box:hover,
.select_box:focus,
.select_box:active,
.select_box:checked {
	outline: 0;
	box-shadow: none;
	color:#666;
	border-color:#ccc;
}






input[type="checkbox"]:not(old):checked + label {
  background: url("./assets/images/check-mark-8-16.png") no-repeat 0 0;
}

input[type="checkbox"]:not(old) + label {
  background: url("./assets/images/square-outline-16.png") no-repeat 0 0; 
  cursor: pointer;
  padding-left: 1.7em;
}


input[type="radio"]:not(old):checked + label {
  background: url("./assets/images/circle-16.png") no-repeat 0 0;
}

input[type="radio"]:not(old) + label {
  background: url("./assets/images/circle-outline-16.png") no-repeat 0 0;
  cursor: pointer;
  padding-left: 1.7em;
}




textarea {
	overflow:hidden;
	min-height:95px;
	resize: none;
}
textarea,
input[type="text"].last {margin-right:0;}


textarea:focus,
input[type="text"]:focus,
input[type="file"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
	outline: 0;
	box-shadow: none;
	color:#666;
	border-color:#ccc;
}


.notification_error {color:#30a67c;}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(1,46,103, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #012e67;
} 

@media (max-width:5320px){
  /* __________ Logo __________ */
.logo {
  float:left;
  margin-left: 10%;
}

.logo a {
  /*text-transform:uppercase;*/
  line-height: 4em;
  color:#012e67;
  font-family: 'Roboto', sans-serif;
}
.logo a span {
  padding-right: 0.5%;

}

.logo a span.logoIndigo {
  font-size: 3.2em;
  font-family: 'roboto-medium', sans-serif;
}

.logo a span.logoGris {
  color: #A19C9B;
  font-size: 2.4em;
  font-family: 'roboto-light', sans-serif;
}
.text_space_contact {
	margin-top: 1%;
}
.text_space_bio {
	margin-top: 1%;
}
.img_contact_visible {
	display: visible;
}
}

@media (max-width:768px){
  /* __________ Logo __________ */
.logo {
  float:left;
  margin-left: 10%;
}

.logo a {
  /*text-transform:uppercase;*/
  line-height: 4em;
  color:#012e67;
  font-family: 'Roboto', sans-serif;
}
.logo a span {
  padding-right: 0.5%;

}

.logo a span.logoIndigo {
  font-size: 2.2em;
  font-family: 'roboto-medium', sans-serif;
}

.logo a span.logoGris {
  color: #A19C9B;
  font-size: 1.5em;
  font-family: 'roboto-light', sans-serif;
}
.text_space_contact {
	margin-top: 5%;
}
.text_space_bio {
	margin-top: 8%;
}
.img_contact_visible {
	display: none;
}
}






/* __________ Fonts __________ */
@font-face {
  font-family: roboto-bold;
  src: url(assets/fonts/Roboto-Bold.ttf) format("truetype");
}

@font-face {
  font-family: roboto-medium;
  src: url(assets/fonts/Roboto-Medium.ttf) format("truetype");
}

@font-face {
  font-family: roboto-light;
  src: url(assets/fonts/Roboto-Light.ttf) format("truetype");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
